<div class="container" ng-controller="PlayListController as vm">
  <div class="panel panel-default">
      <div class="panel-heading">
        <!-- Header -->
        <div class="row overall-timer-row">
          <div class="col-xs-12 text-center">{{runInfo.currentRemainingTime | formatDuration: "mm:ss"}}</div>
        </div>

        <!-- Body -->
        <div class="row info-label">
          <div class="col-xs-4 text-left">ELAPSED</div>
          <div class="col-xs-4 text-center">INTERVAL</div>
          <div class="col-xs-4 text-right">REMAINING</div>
        </div>
        <div class="row interval-timer-row">
          <div class="col-xs-4 text-left">{{runInfo.totalElapsedTime | formatDuration: "mm:ss"}}</div>
          <div class="col-xs-4 text-center">{{runInfo.currentInterval}}/{{runInfo.totalIntervals}}</div>
          <div class="col-xs-4 text-right">{{runInfo.totalRemainingTime | formatDuration: "mm:ss"}}</div>
        </div>
      </div>
      <div class="panel-body pre-scrollable">
        <div class="row interval-row" ng-repeat="interval in intervals">
          <div class="col-xs-12 text-center info-label">{{interval.status}}</div>
          <div class="col-xs-12 text-center interval-timer-row">{{interval.name}}</div>
          <div class="col-xs-12 text-center interval-timer-row">{{interval.duration | formatDuration: "mm:ss"}}</div>
        </div>
      </div>

      <!-- Footer -->
      <div class="panel-footer">
        <div class="row buttons-row">
          <div class="col-xs-3">
            <button class="btn btn-block btn-lg btn-default">
              <span class="glyphicon glyphicon-remove" />
            </button>
          </div>
          <div class="col-xs-3 text-center">
            <button class="btn btn-block btn-lg btn-default">
              <span class="glyphicon glyphicon-question-sign" />
            </button>
          </div>
          <div class="col-xs-3 text-center">
            <button class="btn btn-block btn-lg btn-default">
              <span class="glyphicon glyphicon-repeat" />
            </button>      
          </div>
          <div class="col-xs-3 text-center">
            <button class="btn btn-block btn-lg btn-default" ng-click="vm.play()">
              <span class="glyphicon glyphicon-play" />
            </button>      
          </div>
        </div>
      </div>
  </div>
</div>
